.App.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
}

.wallet-client {
  text-align: center;
  margin: 50px 0;
  background-color: black;
  padding: 50px;
  border-radius: 60px;
  width: 300px;
  height: 200px;
}

.App button {
  background-color: black;
  border-radius: 60px;
  border:0;
  color:white;
  padding: 10px 30px;
}
.App button:hover {
  background-color: gray;
  cursor: pointer;
  
}
